.curtains {
  position: relative;
  padding: 103px 0 207px 0;

  &::after {
    position: absolute;
    content: '';
    width: 594px;
    height: 857px;
    right: 0px;
    top: 0px;
    background-image: url(../images/curtains/curtains-bg.png);
    @extend %bg-center-cover;
    z-index: 1;

    @include media-w($mdb) {
      display: none;
    }
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    height: 419px;
    background-image: url(../images/curtains/curtains-bg-mobile.png);
    @extend %bg-center-cover;
    z-index: -1;
    display: none;

    @include media-w($mdb) {
      display: block;
    }

    @include media-w($smx) {
      width: 100%;
      height: 1030px;
    }
  }

  &__content {
    max-width: 480px;

    @include media-w($mdb) {
      max-width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &__page-title {
    margin-left: -5px;
    max-width: 314px;
    margin-bottom: 14px;

    @include media-w($mdb) {
      margin: 0 auto;
      max-width: 100%;
    }

    @include media-w($smx) {
      margin-bottom: 9px;
    }
  }

  &__text {
    max-width: 330px;
    @extend %roboto-300;
    font-size: 22px;
    line-height: 1.36;
    color: $page-text;
    margin-bottom: 56px;

    @include media-w($mdb) {
      margin: 0px auto 56px auto;
    }

    @include media-w($smx) {
      font-size: 20px;
      line-height: 1.5;
    }

    @include media-w($sms) {
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
    }

  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 457px;
    margin-bottom: 83px;

    @include media-w($mdb) {
      width: 100%;
      margin: 0px auto 83px auto;
    }

    @include media-w($smx) {
      margin: 0px auto 700px auto;
      flex-direction: column;
      align-items: center;
    }
  }

  &__btn {
    padding: 6px 5px 10px 5px;
    width: 206.71px;
    height: 66.2px;
    @extend %futuraPT-700;
    line-height: 2.5;

    @include media-w($sms) {
      padding: 12px 5px 16px 5px;
      width: 138px;
      height: 42px;
      font-size: 14px;
      line-height: 100%;
    }
  }

  &__buttons-label {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      bottom: 0px;
      left: 0px;
      width: 100px;
      height: 1px;
      color: rgba(18, 37, 59, 0.2);
      z-index: 2;
    }
  }

  &__btn-white {
    padding: 6px 5px 10px 5px;
    width: 234.23px;
    height: 66.2px;
    background-color: $white;
    border: 1px solid $white-btn-border;
    @extend %roboto-300;
    font-size: 20px;
    line-height: 2.5;
    color: $white-btn-text;
    transition: 0.5s;

    &:focus {
      box-shadow: 0px 5px 20px 0px rgb(146 146 146 / 30%);
      @extend %roboto-700;
    }

    &:hover {
      background-color: $accent;
      color: $white;

      @include media-w($smx) {
        background-color: transparent;
        border-bottom: 1px solid $accent;
      }
    }

    &:active {
      @extend %roboto-700;
      background-color: $accent;
      color: $white;
    }

    @include media-w($smx) {
      background-color: transparent;
      border: 1px solid transparent;
      line-height: 3.57;
      border-bottom: 1px solid rgba(18, 37, 59, 0.2);
    }

    @include media-w($sms) {
      font-size: 14px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    max-width: 473px;

    @include media-w($mdb) {
      width: 100%;
      margin: 0 auto;
    }

    @include media-w($xs) {
      flex-wrap: wrap;
    }
  }

  &__item {
    @include media-w($xxs) {
      max-width: 100%;
      margin: 0px auto;
    }

    &:first-child {
      @include media-w($xxs) {
        margin-bottom: 43px;
      }
    }
  }

  &__link {
    display: block;
    text-align: center;
    transition: 0.5s;

    &:hover {
      .curtains__short {
        box-shadow: 0px 5px 20px 0px rgb(146 146 146 / 30%);
        color: $accent;
      }
    }
  }

  &__svg {
    fill: #CCDAEA;

    &--day {
      width: 42.99px;
      height: 43.87px;
      margin-bottom: 11px;
    }

    &--auto {
      width: 24.7px;
      height: 48.4px;
      margin-bottom: 7px;
    }

    &--edging {
      width: 41px;
      height: 41.85px;
      margin-bottom: 14px;
    }

    &--oblique {
      width: 50px;
      height: 44px;
      margin-bottom: 11px;
    }
  }

  &__short {
    display: block;
    @extend %roboto-400;
    font-size: 14px;
    line-height: 1.14;
    color: $page-text;
    text-align: center;
  }
}