.solutions {
  padding: 168px 0px 137px 0px;
  background-color: #FBF9F8;

  @include media-w($mdb) {
    padding: 136px 0px 116px 0px;
  }

  @include media-w($mdl) {
    padding: 104px 0px 95px 0px;
  }

  @include media-w($smx) {
    padding: 72px 0px 74px 0px;
  }

  @include media-w($smm) {
    padding: 55px 0px 64px 0px;
  }

  @include media-w($xs) {
    padding: 39px 0px 52px 0px;
  }

  &__title {
    margin: 0 auto;
    text-align: center;
    max-width: 550px;
    @extend %futuraPT-500;
    font-size: 46px;
    line-height: 1.28;
    letter-spacing: 0.04em;
    color: $page-text;
    margin-bottom: 68px;
    text-transform: uppercase;

    @include media-w($mdb) {
      max-width: 544px;
      font-size: 40px;
      line-height: 1.4;
      margin-bottom: 58px;
    }

    @include media-w($mdl) {
      max-width: 433px;
      font-size: 36px;
      margin-bottom: 48px;
    }

    @include media-w($smx) {
      margin-left: 0px;
      text-align: left;
      max-width: 407px;
      font-size: 30px;
      margin-bottom: 38px;
    }

    @include media-w($smm) {
      max-width: 353px;
      font-size: 26px;
    }

    @include media-w($xs) {
      max-width: 272px;
      margin: 0px auto 25px 6px;
      font-size: 20px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;



    &:first-child {
      max-width: 766px;
      margin-bottom: 85px;

      @include media-w($mds) {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 75px;
      }

      @include media-w($mdl) {
        margin-bottom: 65px;
      }

      @include media-w($smx) {
        margin-bottom: 55px;
      }

      @include media-w($smz) {
        margin-bottom: 50px;
      }

      @include media-w($xxs) {
        margin-bottom: 41px;
      }
    }

    &:last-child {
      max-width: 1046px;
      margin-right: -30px;

      @include media-w($mds) {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
    }
  }

  &__content {
    &--upper {
      margin-top: -43px;

      @include media-w($mds) {
        margin-top: 0;
        margin-bottom: 16px;
      }
    }

    &--down {
      margin-top: -43px;

      @include media-w($mds) {
        margin-top: 0px;
        margin-bottom: 21px;
      }
    }
  }

  &__subtitle {
    margin-bottom: 6px;
    @extend %futuraPT-500;
    font-size: 32px;
    line-height: 1.28;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #5B748D;

    @include media-w($mdb) {
      font-size: 30px;
      line-height: 1.31;
      margin-bottom: 5px;
    }

    @include media-w($mdl) {
      font-size: 28px;
    }

    @include media-w($smx) {
      font-size: 24px;
    }

    @include media-w($smz) {
      font-size: 22px;
    }

    @include media-w($sms) {
      font-size: 20px;
    }

    @include media-w($smm) {
      font-size: 18px;
    }

    @include media-w($xxl) {
      margin-left: 4px;
      font-size: 16px;
    }
  }

  &__text {
    @extend %roboto-300;
    font-size: 16px;
    line-height: 1.87;
    color: #666666;

    @include media-w($mdb) {
      line-height: 1.8;
    }

    @include media-w($mdl) {
      font-size: 15px;
    }

    @include media-w($smx) {
      font-size: 14px;
    }

    @include media-w($smm) {
      font-size: 13px;
    }

    @include media-w($xxl) {
      font-size: 12px;
    }

    &--upper {
      max-width: 325px;

      @include media-w($mds) {
        max-width: 100%;
      }

      @include media-w($xxl) {
        margin-left: 5px;
      }
    }

    &--down {
      max-width: 409px;

      @include media-w($mds) {
        max-width: 100%;
      }
    }
  }

  &__img {

    @include media-w($mds) {
      height: auto;
      width: 800px;
    }

    @include media-w($sm) {
      width: 700px;
    }

    @include media-w($smx) {
      width: 100%;
    }
  }

  .solutions__img--arc {
    @include media-w($xxl) {
      width: 284px;
      height: 419px;
    }
  }

  .solutions__img--erc {
    @include media-w($xxl) {
      width: 280px;
      height: 215px;
    }
  }

  .solutions__subtitle--erc {
    @include media-w($xxl) {
      margin-left: -10px;
    }
  }
}